<a href="https://colab.research.google.com/github/sharadv99/capstone-OpioidAddictionRisk/blob/master/Opioid_Project_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Opioid Addiction Project
Python Notebook 1 of x

This notebook is just to initially explore the data.

### W210, Capstone
Summer 2019

Team:  Cameron Kennedy, Aditi Khullar, Rachel Kramer, Sharad Varadarajan

# 0. Load Libraries and Set Global Variables
This analysis is performed in the cells below.

In [0]:
#Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#Set initial parameter(s)
pd.set_option('display.max_rows', 200)
pd.options.display.max_columns = 20
dataDir = './data/'

# 1. Load Data

In [0]:
#Load Data
dfNSDUHRaw = pd.read_csv(dataDir+'NSDUH_2017_Tab.tsv', sep='\t', low_memory=False)
#low_memory=False prevents an error

Note, I checked this against the .Rdata file and they appear to be the same.  `NA` values in R equate to `NaN` values here.

In [0]:
#Quick inspection
#dfRaw.head(20)

In [0]:
#dfNSDUHRaw.dtypes

In [0]:
#Write raw data to pkl file
#dfNSDUHRaw.to_pickle(dataDir + 'dfNSDUHRaw.pkl.zip', compression='zip')
'''This step is complete and there's no need to keep rewriting this file,
hence it's commented out
'''
;

''

# 2. Preprocessing

## 2.1 Remove Non Pain Reliever Users From the Data

This section will remove non-opioid users.

A reasonable approximation for additiction is misues, and a good candidate field for misuse is PNRNMREC: MOST RECENT PAIN RELIEVER MISUSE. It contains the following possible values:
* 1 = Within the past 30 days
* 2 = More than 30 days ago but within the past 12 mos
* 3 = More than 12 months ago
* 8 = Misused at some point in past 12 mos LOG ASSN
* 9 = Misused at some point in lifetime LOG ASSN
* 11 = Used in the past 30 days LOGICALLY ASSIGNED
* 83 = DID NOT MISUSE PST 12 MOS (LIFETIME UNK) Log assn
* 91 = NEVER USED/MISUSED PAIN RELIEVERS
* 98 = BLANK (NO ANSWER)

And here's a corresponding question that answers if patients have used any pain relievers in the past 12 months:
PNRANYREC MOST RECENT ANY PAIN RELIEVER USE.  It comes from the pain reliever screener portion of the survey.
* 1 = Within the past 12 months
* 2 = More than 12 months ago
* 9 = Used at some point in the lifetime LOG ASSN
* 83 = DID NOT USE PST 12 MOS (LIFETIME UNK) Log assn
* 91 = NEVER USED PAIN RELIEVERS
* 98 = BLANK (NO ANSWER)

Let's first get counts of each variable.

In [0]:
#Breakdown of PNRNMREC (misuse)
dfNSDUHRaw.groupby(['PNRNMREC'])['QUESTID2'].count()

PNRNMREC
1       777
2      1906
3      3160
8        20
9        37
11        1
83      485
91    49676
98      214
Name: QUESTID2, dtype: int64

In [0]:
#Breakdown of PNRANYREC (any use)
dfNSDUHRaw.groupby(['PNRANYREC'])['QUESTID2'].count()

PNRANYREC
1     16768
2     13180
9       153
83      343
91    25647
98      185
Name: QUESTID2, dtype: int64

Combining the data from PNRNMREC and PNRANYREC, we can filter the data for patients who have used prescription painkillers in the past 12 months (PNRANYREC==1).

In [0]:
dfUsePainMeds = dfNSDUHRaw[dfNSDUHRaw.PNRANYREC==1]
dfUsePainMeds

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
19,11577143,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,54.413648,40017,1
20,34608143,10/09/2018,1,99,99,12,9999,99,1,30,...,2.0,2,2,2,2,2,2,3481.596088,40013,2
21,33708143,10/09/2018,1,99,99,17,9999,99,4,93,...,2.0,2,2,2,2,2,2,1022.448042,40042,2
23,58638143,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,628.886384,40016,2
33,25359143,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,839.107735,40039,1
34,17779143,10/09/2018,1,99,99,18,9999,99,2,93,...,3.0,2,2,2,2,2,2,1400.781545,40017,2
36,45789143,10/09/2018,1,99,99,18,9999,99,4,93,...,2.0,1,1,2,3,2,2,1144.049469,40044,1
46,46911143,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,2,2,2,3090.284207,40006,2
50,67571143,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,4215.062783,40040,2
52,76622143,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,4121.742730,40043,1
54,41932143,10/09/2018,1,99,99,10,9999,99,1,22,...,3.0,1,2,2,2,2,2,22535.214038,40011,2
58,11693143,10/09/2018,1,99,99,21,2016,6,3,93,...,3.0,2,2,1,1,2,2,2049.174765,40046,2
66,95194143,10/09/2018,1,99,99,12,9999,99,1,30,...,1.0,2,2,3,3,2,2,355.211280,40048,2
76,52525243,10/09/2018,1,99,99,15,9999,99,1,7,...,1.0,2,2,2,1,2,2,6765.556717,40033,1
78,47835243,10/09/2018,1,99,99,16,9999,99,1,22,...,2.0,2,1,3,3,2,2,4842.478949,40017,1
81,94655243,10/09/2018,2,4,3,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,2068.241172,40011,1
85,19246243,10/09/2018,1,99,99,10,9999,99,4,93,...,3.0,2,2,1,1,2,2,15556.281750,40020,1
90,21617243,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,1,2,3,2,2,2873.870904,40039,2
96,87587243,10/09/2018,1,99,99,16,9999,99,1,20,...,1.0,2,2,2,2,2,2,602.113983,40027,1
97,65118243,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,1,1,2,2,4134.437053,40050,1
103,50999243,10/09/2018,1,99,99,13,9999,99,1,15,...,1.0,1,2,2,2,2,2,3344.004166,40037,2
104,35209243,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,6625.182854,40021,1
108,27439243,10/09/2018,1,99,99,20,9999,99,1,30,...,2.0,2,2,2,2,2,2,5723.715382,40037,2
114,41989243,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,1,2,1,1,2,2,8936.036536,40034,1
115,70089243,10/09/2018,2,4,3,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,3257.610863,40025,1
117,91120243,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,2,2,2,5018.505421,40049,2
123,73341243,10/09/2018,1,99,99,13,9999,99,1,30,...,2.0,1,2,1,1,2,2,4970.425738,40050,2
124,31541243,10/09/2018,1,99,99,19,9999,99,3,93,...,2.0,2,2,2,2,2,2,2865.417599,40001,1
126,84481243,10/09/2018,1,99,99,14,9999,99,4,93,...,3.0,2,2,3,3,2,2,2956.505499,40005,1
130,69312243,10/09/2018,1,99,99,18,9999,99,2,93,...,2.0,2,2,2,2,2,2,246.091832,40013,2
131,85712243,10/09/2018,1,99,99,39,9999,99,1,30,...,2.0,2,2,2,2,2,2,5818.746532,40038,2
134,85042243,10/09/2018,1,99,99,9,9999,99,1,30,...,3.0,2,2,2,3,2,2,2785.970921,40014,2
135,61252243,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,1,1,2,2,4344.299059,40049,2
138,19072243,10/09/2018,1,99,99,13,9999,99,1,30,...,1.0,2,2,2,2,2,2,8298.530047,40006,1
140,77893243,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,13481.748153,40030,1
142,89213243,10/09/2018,1,99,99,15,9999,99,1,30,...,1.0,2,2,1,1,2,2,672.878342,40016,1
146,17553243,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,1,1,2,2,252.500882,40035,1
150,85373243,10/09/2018,1,99,99,9,9999,99,2,93,...,3.0,2,2,2,2,2,2,325.752783,40047,1
151,23573243,10/09/2018,1,99,99,14,9999,99,1,30,...,1.0,2,2,1,1,2,2,21929.399406,40008,2
153,11724243,10/09/2018,1,99,99,18,9999,99,1,30,...,3.0,2,2,2,2,2,2,3028.971656,40040,2
165,25017343,10/09/2018,1,99,99,16,9999,99,2,93,...,3.0,1,2,2,2,2,2,15331.959898,40049,2
169,72077343,10/09/2018,1,99,99,16,9999,99,2,93,...,3.0,2,2,2,2,2,2,21738.157348,40018,2
171,23598343,10/09/2018,1,99,99,12,9999,99,4,93,...,3.0,2,2,2,3,2,2,1862.290714,40049,2
173,74208343,10/09/2018,1,99,99,18,2017,1,1,12,...,1.0,2,2,2,2,2,2,6028.708478,40047,1
180,67569343,10/09/2018,1,99,99,10,9999,99,4,93,...,3.0,2,2,1,1,2,2,6711.768662,40035,1
182,61789343,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,1714.190691,40011,2
183,49989343,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,1,1,1,2,2,5545.529970,40047,1
188,47460343,10/09/2018,1,99,99,16,9999,99,4,93,...,2.0,2,2,3,3,2,2,14331.537205,40010,1
193,66651343,10/09/2018,1,99,99,15,9999,99,3,93,...,3.0,2,1,1,1,2,2,7845.901339,40019,1
200,59922343,10/09/2018,1,99,99,16,9999,99,4,93,...,3.0,2,2,3,3,2,2,7760.392972,40023,2
204,67882343,10/09/2018,1,99,99,18,9999,99,2,93,...,3.0,2,2,1,1,2,2,6497.183167,40029,2
213,45983343,10/09/2018,1,99,99,14,9985,85,1,13,...,3.0,2,2,2,1,2,2,4658.626341,40046,1
217,59425443,10/09/2018,1,99,99,18,9999,99,4,93,...,3.0,1,2,3,3,2,2,14668.157726,40040,2
218,99755443,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,657.799494,40007,2
219,88855443,10/09/2018,1,99,99,15,9999,99,1,30,...,1.0,2,2,1,1,2,2,2214.415385,40019,2
223,57385443,10/09/2018,1,99,99,10,9999,99,1,8,...,3.0,2,2,1,1,2,2,2907.840872,40042,2
227,92836443,10/09/2018,1,99,99,9,9999,99,1,30,...,3.0,2,2,2,2,2,2,3252.438743,40045,1
233,21266443,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,460.622657,40043,2
239,58847443,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,3,1,2,2,2001.708665,40014,2
245,80077443,10/09/2018,1,99,99,15,9999,99,1,30,...,1.0,2,2,2,2,2,2,2347.930631,40047,1
246,64008443,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,2233.256216,40050,2
248,37848443,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,10541.896907,40015,2
252,15288443,10/09/2018,1,99,99,15,9999,99,1,14,...,3.0,2,2,2,2,2,2,5461.626438,40030,1
253,91688443,10/09/2018,1,99,99,12,9999,99,1,30,...,2.0,98,98,2,2,2,2,4039.601381,40025,1
255,43299443,10/09/2018,1,99,99,18,9999,99,1,4,...,3.0,2,2,1,1,2,2,6606.145476,40026,2
256,27899443,10/09/2018,1,99,99,16,9999,99,1,30,...,3.0,2,2,3,3,2,2,4963.048281,40025,2
264,56410443,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,1,1,2,2,645.974148,40041,1
265,74610443,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,1,1,2,2,5371.858900,40046,2
267,44420443,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,2525.491423,40030,2
274,38970443,10/09/2018,1,99,99,20,9999,99,1,30,...,3.0,2,2,1,1,2,2,3334.651310,40036,2
280,67161443,10/09/2018,1,99,99,13,9999,99,1,30,...,3.0,2,2,1,1,2,2,3198.978640,40008,2
281,70481443,10/09/2018,1,99,99,11,9999,99,1,30,...,1.0,2,2,2,2,2,2,734.097486,40016,1
282,69581443,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,1076.235034,40029,2
283,97781443,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,1705.644633,40002,2
287,68582443,10/09/2018,1,99,99,13,9999,99,4,93,...,3.0,2,2,2,2,2,2,15117.213318,40011,1
288,49293443,10/09/2018,2,3,3,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,889.659930,40050,2
292,27153443,10/09/2018,1,99,99,15,9999,99,4,93,...,3.0,2,2,1,1,2,2,8001.694654,40002,1
295,73504443,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,3427.290503,40030,2
296,69904443,10/09/2018,1,99,99,12,9999,99,3,93,...,3.0,1,2,1,1,2,2,8431.392757,40005,1
304,37484443,10/09/2018,1,99,99,15,9999,99,2,93,...,1.0,2,2,3,3,2,2,2086.268708,40002,1
314,13486543,10/09/2018,1,99,99,16,9999,99,4,93,...,3.0,2,2,1,1,2,2,9329.403442,40007,2
316,50117543,10/09/2018,1,99,99,16,2017,9,1,3,...,3.0,2,2,2,2,2,2,181.358760,40004,2
318,23437543,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,2,2,2,1726.655070,40012,2
324,45187543,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,1,3,3,2,2,1920.107622,40037,2
333,77888543,10/09/2018,1,99,99,17,9999,99,4,93,...,3.0,2,2,1,1,2,2,5574.664764,40045,2
345,55401543,10/09/2018,1,99,99,18,9999,99,1,30,...,3.0,2,2,2,2,2,2,5301.549959,40012,1
347,73551543,10/09/2018,1,99,99,19,9999,99,4,93,...,3.0,2,2,1,1,2,2,16774.508055,40006,2
349,60661543,10/09/2018,1,99,99,16,9999,99,1,30,...,2.0,2,2,2,2,2,2,888.841434,40031,1
352,37771543,10/09/2018,1,99,99,19,9999,99,2,93,...,2.0,2,2,2,3,2,2,1001.991120,40028,2
353,49712543,10/09/2018,1,99,99,18,9999,99,4,93,...,3.0,2,2,1,1,2,2,9792.414813,40031,1
354,15112543,10/09/2018,1,99,99,12,9999,99,1,30,...,3.0,2,2,1,1,2,2,5690.558360,40016,1
357,57242543,10/09/2018,1,99,99,18,2016,6,1,4,...,3.0,2,2,2,1,2,2,509.559923,40037,1
358,67293543,10/09/2018,2,4,3,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,1159.087848,40033,2
362,44113543,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,1,1,2,2,491.211887,40005,2
365,27573543,10/09/2018,1,99,99,12,9999,99,4,93,...,3.0,2,2,1,1,2,2,10882.656038,40037,1
370,89464543,10/09/2018,1,99,99,13,9999,99,1,30,...,1.0,2,2,1,1,2,2,3304.891119,40025,1
374,57125643,10/09/2018,1,99,99,16,9999,99,1,30,...,2.0,2,2,2,2,2,2,760.174125,40031,1
375,83475643,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,4326.755868,40030,2
376,85896643,10/09/2018,1,99,99,14,9989,89,2,93,...,2.0,1,2,3,3,2,2,2762.908100,40026,1
378,41816643,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,1,2,2,2,2,2,35236.724947,40009,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55911,26418330,10/09/2018,1,99,99,25,9999,99,3,93,...,3.0,2,2,1,1,2,2,600.713384,40005,1
55912,53718330,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,1,2,2,2,2,174.301949,40010,2
55913,79258330,10/09/2018,1,99,99,9,9999,99,3,93,...,3.0,2,2,2,2,2,2,1854.638231,40034,1
55920,45989330,10/09/2018,1,99,99,11,9999,99,1,30,...,2.0,1,1,2,3,2,2,457.491033,40044,1
55921,79390330,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,23681.712799,40039,2
55923,51190330,10/09/2018,1,99,99,15,9999,99,1,30,...,1.0,2,2,3,3,2,2,2903.365823,40008,1
55926,72800330,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,1,1,2,2,6411.058991,40043,1
55931,89050330,10/09/2018,1,99,99,20,9999,99,3,93,...,2.0,2,2,2,2,2,2,2375.290146,40043,1
55935,81280330,10/09/2018,1,99,99,17,9999,99,4,93,...,3.0,2,2,1,1,2,2,9378.461971,40001,2
55937,37011330,10/09/2018,1,99,99,17,9999,99,3,93,...,2.0,2,2,2,3,2,2,4390.885779,40025,2
55942,73551330,10/09/2018,1,99,99,11,9999,99,1,30,...,2.0,1,1,1,1,2,2,912.588702,40035,1
55945,26061330,10/09/2018,1,99,99,21,9999,99,4,93,...,3.0,2,2,1,1,2,2,3609.037292,40035,2
55946,15161330,10/09/2018,1,99,99,17,9999,99,4,93,...,3.0,2,2,2,2,2,2,235.524071,40037,2
55947,21702330,10/09/2018,1,99,99,13,9999,99,4,93,...,3.0,2,2,2,2,2,2,1132.374818,40038,1
55957,83783330,10/09/2018,1,99,99,10,9999,99,1,30,...,3.0,2,2,2,2,2,2,699.013374,40013,1
55958,17194330,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,1,1,1,2,2,21347.137179,40015,1
55960,82024330,10/09/2018,2,4,3,991,9991,91,91,91,...,1.0,1,2,1,1,2,2,261.853270,40017,2
55961,16144330,10/09/2018,1,99,99,14,9999,99,1,30,...,1.0,2,2,1,1,2,2,6694.950417,40002,2
55968,31345430,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,2,2,2,15723.747539,40035,1
55969,89545430,10/09/2018,1,99,99,8,9999,99,1,30,...,2.0,2,2,1,1,2,2,10654.088921,40048,1
55971,73575430,10/09/2018,1,99,99,16,9999,99,1,30,...,1.0,2,2,2,3,2,2,20095.669506,40015,1
55972,37175430,10/09/2018,1,99,99,16,9999,99,1,10,...,2.0,1,2,1,1,2,2,6771.069055,40016,1
55973,64806430,10/09/2018,1,99,99,15,9999,99,1,30,...,3.0,2,2,2,2,2,2,1333.354068,40018,2
55974,11106430,10/09/2018,1,99,99,12,9999,99,1,24,...,1.0,2,2,1,1,2,2,4508.751923,40041,1
55977,79926430,10/09/2018,1,99,99,13,9999,99,1,14,...,2.0,2,2,2,2,2,2,7189.695723,40025,2
55981,53097430,10/09/2018,1,99,99,9,9999,99,4,93,...,1.0,2,2,2,2,2,2,4388.118360,40005,2
55988,75648430,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,2,3,2,2,853.590757,40016,1
55991,15078430,10/09/2018,1,99,99,17,9999,99,1,30,...,1.0,1,2,1,1,2,2,5150.690475,40010,2
55993,89299430,10/09/2018,1,99,99,14,9999,99,3,93,...,3.0,2,2,2,2,2,2,2794.638483,40027,2
55999,99900430,10/09/2018,1,99,99,15,9999,99,2,93,...,3.0,2,2,1,1,2,2,11871.508606,40050,2
56001,79710430,10/09/2018,1,99,99,14,9999,99,4,93,...,3.0,2,2,2,2,2,2,750.026702,40013,1
56002,63640430,10/09/2018,1,99,99,14,9999,99,4,93,...,3.0,2,2,1,1,2,2,20770.537305,40009,2
56005,25680430,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,31188.099344,40002,1
56007,73211430,10/09/2018,1,99,99,14,9999,99,1,10,...,3.0,2,2,2,3,2,2,2042.735988,40024,1
56010,27761430,10/09/2018,1,99,99,13,9999,99,1,30,...,1.0,2,2,2,3,2,2,3554.966205,40001,1
56012,93592430,10/09/2018,1,99,99,10,9999,99,1,30,...,3.0,2,2,1,1,2,2,2607.927291,40044,2
56014,40222430,10/09/2018,1,99,99,16,2016,5,1,1,...,2.0,2,2,2,2,2,2,153.360783,40006,2
56015,74632430,10/09/2018,1,99,99,27,9999,99,4,93,...,3.0,2,2,2,3,2,2,3257.763530,40014,2
56018,11403430,10/09/2018,1,99,99,15,9999,99,3,93,...,3.0,2,2,2,3,2,2,670.055400,40003,1
56022,87753430,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,5043.695336,40026,1
56024,14814430,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,1052.924848,40008,2
56028,36564430,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,1068.193349,40047,2
56032,55745530,10/09/2018,1,99,99,17,9999,99,1,30,...,1.0,2,2,2,2,2,2,7835.792387,40017,2
56034,15365530,10/09/2018,1,99,99,11,9999,99,2,93,...,3.0,2,2,2,2,2,2,921.903400,40001,2
56035,97785530,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,3,2,2,11331.332514,40031,2
56037,85506530,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,1,1,2,2,4416.351449,40038,2
56038,44416530,10/09/2018,1,99,99,17,9999,99,4,93,...,3.0,2,2,1,1,2,2,968.974859,40035,1
56039,17116530,10/09/2018,1,99,99,15,9999,99,3,93,...,2.0,2,2,2,2,2,2,204.338152,40040,1
56049,27017530,10/09/2018,1,99,99,19,9999,99,4,93,...,3.0,2,2,1,1,2,2,1157.295666,40045,2
56055,65598530,10/09/2018,2,99,99,991,9991,91,91,91,...,2.0,2,2,1,1,2,2,5941.488844,40049,2
56058,26018530,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,2074.621063,40031,1
56061,51848530,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,1,1,2,2,4061.329607,40030,1
56062,30758530,10/09/2018,1,99,99,12,9999,99,1,30,...,2.0,2,2,1,1,2,2,3393.484707,40016,1
56072,17190530,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,2674.021969,40046,2
56075,94630530,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,1,1,2,2,16347.785494,40040,2
56078,31070530,10/09/2018,1,99,99,16,9999,99,1,26,...,2.0,1,2,3,3,2,2,7342.591445,40004,2
56079,57280530,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,1400.489148,40035,2
56088,25192530,10/09/2018,1,99,99,16,9999,99,1,8,...,1.0,1,1,2,2,2,2,5613.232994,40043,1
56089,77322530,10/09/2018,1,99,99,15,9999,99,1,30,...,3.0,2,2,1,1,2,2,5862.773180,40033,1
56090,95522530,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,5555.633821,40042,2
56101,44663530,10/09/2018,2,3,3,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,1960.879873,40043,2
56103,73383530,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,3475.097352,40049,2
56106,38404530,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,4205.879851,40017,2
56109,96744530,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,1,2,2,2274.146588,40007,2
56111,37454530,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,4460.726636,40035,1
56112,96554530,10/09/2018,1,99,99,18,2016,3,2,93,...,3.0,2,2,2,2,2,2,7012.764586,40045,1
56124,97865630,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,5192.196488,40036,1
56141,23117630,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,3,3,2,2,15239.516849,40033,1
56147,89748630,10/09/2018,1,99,99,19,9999,99,1,30,...,3.0,2,2,2,2,2,2,13329.799099,40019,1
56153,87378630,10/09/2018,1,99,99,13,9999,99,4,93,...,2.0,2,2,2,2,2,2,1118.879988,40047,2
56155,64299630,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,2,2,2,2,2051.335476,40022,1
56156,71599630,10/09/2018,1,99,99,15,9999,99,1,30,...,3.0,2,2,2,2,2,2,1227.438398,40041,1
56159,31929630,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,1,1,3,3,2,2,9978.007395,40032,1
56167,37550630,10/09/2018,1,99,99,18,9999,99,1,30,...,2.0,2,2,2,3,2,2,3419.531567,40044,1
56177,39012630,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,1672.584870,40022,1
56184,93182630,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,4764.329522,40002,2
56190,16783630,10/09/2018,1,99,99,18,9999,99,4,93,...,1.0,2,2,1,1,2,2,8621.078343,40029,1
56196,63925730,10/09/2018,1,99,99,20,9999,99,4,93,...,3.0,2,1,2,2,2,2,4067.924910,40010,1
56199,94775730,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,2342.571652,40048,2
56204,97426730,10/09/2018,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,3,2,2,1267.869200,40033,2
56205,46286730,10/09/2018,1,99,99,13,9999,99,1,30,...,2.0,2,2,2,3,2,2,718.287066,40038,2
56211,97467730,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,3,3,2,2,349.471152,40026,2
56212,91687730,10/09/2018,1,99,99,13,9999,99,3,93,...,3.0,2,2,2,2,2,2,2430.499821,40019,1
56217,45948730,10/09/2018,1,99,99,12,9999,99,4,93,...,3.0,2,2,2,2,2,2,1234.599073,40031,1
56219,12058730,10/09/2018,1,99,99,14,9999,99,1,2,...,3.0,2,2,1,1,2,2,5395.072644,40010,2
56222,29788730,10/09/2018,2,99,99,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,4573.545052,40049,2
56225,46419730,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,2,1,2,2,149.540303,40021,2
56226,87129730,10/09/2018,1,99,99,14,9999,99,1,30,...,2.0,2,2,2,2,2,2,3562.542576,40031,2
56228,71539730,10/09/2018,2,4,4,991,9991,91,91,91,...,2.0,2,2,2,3,2,2,1484.373856,40044,2
56231,75469730,10/09/2018,1,99,99,15,9999,99,1,2,...,3.0,2,2,1,1,2,2,6096.026983,40038,2
56241,76880730,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,282.113631,40036,2
56251,55212730,10/09/2018,1,99,99,12,9999,99,1,18,...,1.0,2,2,2,2,2,2,543.975822,40002,1
56254,61942730,10/09/2018,1,99,99,13,9999,99,1,30,...,2.0,2,2,2,3,2,2,604.293621,40007,2
56257,91562730,10/09/2018,1,99,99,10,9999,99,4,93,...,3.0,2,2,2,3,2,2,5782.778810,40039,2
56258,57962730,10/09/2018,1,99,99,19,9999,99,4,93,...,3.0,2,2,2,2,2,2,34466.143274,40002,1
56260,28672730,10/09/2018,1,99,99,19,9999,99,1,4,...,2.0,2,2,1,1,2,2,7138.187853,40005,1
56264,97243730,10/09/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,3465.475608,40009,2
56265,65253730,10/09/2018,1,99,99,16,9999,99,1,30,...,3.0,2,2,2,2,2,2,20566.552366,40009,2
56268,93073730,10/09/2018,1,99,99,15,9999,99,2,93,...,2.0,2,2,1,1,2,2,854.431770,40014,2
56273,44444730,10/09/2018,2,4,4,991,9991,91,91,91,...,1.0,2,2,2,2,2,2,1475.398422,40046,2

So now we have a table of people who have used painkillers in the past 12 months.

## 2.2 Set Dependent Variable

Here we'll name our dependent variable MISUSE and set it = 1 if PNRNMREC %in% {1, 2, or 8}, otherwise = 0

In [0]:
#Set MISUSE variable
misuseCodes = [1, 2, 8]
dfUsePainMeds['MISUSE'] = dfUsePainMeds.apply(lambda row:
                                              1 if row.PNRNMREC in misuseCodes else 0,
                                              axis=1)

dfUsePainMeds

C:\Users\camke\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,MISUSE
19,11577143,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,54.413648,40017,1,0
20,34608143,10/09/2018,1,99,99,12,9999,99,1,30,...,2,2,2,2,2,2,3481.596088,40013,2,0
21,33708143,10/09/2018,1,99,99,17,9999,99,4,93,...,2,2,2,2,2,2,1022.448042,40042,2,0
23,58638143,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,628.886384,40016,2,0
33,25359143,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,839.107735,40039,1,0
34,17779143,10/09/2018,1,99,99,18,9999,99,2,93,...,2,2,2,2,2,2,1400.781545,40017,2,1
36,45789143,10/09/2018,1,99,99,18,9999,99,4,93,...,1,1,2,3,2,2,1144.049469,40044,1,0
46,46911143,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,3090.284207,40006,2,1
50,67571143,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,4215.062783,40040,2,0
52,76622143,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,4121.742730,40043,1,0
54,41932143,10/09/2018,1,99,99,10,9999,99,1,22,...,1,2,2,2,2,2,22535.214038,40011,2,0
58,11693143,10/09/2018,1,99,99,21,2016,6,3,93,...,2,2,1,1,2,2,2049.174765,40046,2,0
66,95194143,10/09/2018,1,99,99,12,9999,99,1,30,...,2,2,3,3,2,2,355.211280,40048,2,0
76,52525243,10/09/2018,1,99,99,15,9999,99,1,7,...,2,2,2,1,2,2,6765.556717,40033,1,0
78,47835243,10/09/2018,1,99,99,16,9999,99,1,22,...,2,1,3,3,2,2,4842.478949,40017,1,0
81,94655243,10/09/2018,2,4,3,991,9991,91,91,91,...,2,2,2,2,2,2,2068.241172,40011,1,0
85,19246243,10/09/2018,1,99,99,10,9999,99,4,93,...,2,2,1,1,2,2,15556.281750,40020,1,1
90,21617243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,1,2,3,2,2,2873.870904,40039,2,0
96,87587243,10/09/2018,1,99,99,16,9999,99,1,20,...,2,2,2,2,2,2,602.113983,40027,1,0
97,65118243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4134.437053,40050,1,0
103,50999243,10/09/2018,1,99,99,13,9999,99,1,15,...,1,2,2,2,2,2,3344.004166,40037,2,0
104,35209243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,6625.182854,40021,1,0
108,27439243,10/09/2018,1,99,99,20,9999,99,1,30,...,2,2,2,2,2,2,5723.715382,40037,2,1
114,41989243,10/09/2018,2,99,99,991,9991,91,91,91,...,1,2,1,1,2,2,8936.036536,40034,1,0
115,70089243,10/09/2018,2,4,3,991,9991,91,91,91,...,2,2,1,1,2,2,3257.610863,40025,1,0
117,91120243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,5018.505421,40049,2,0
123,73341243,10/09/2018,1,99,99,13,9999,99,1,30,...,1,2,1,1,2,2,4970.425738,40050,2,0
124,31541243,10/09/2018,1,99,99,19,9999,99,3,93,...,2,2,2,2,2,2,2865.417599,40001,1,0
126,84481243,10/09/2018,1,99,99,14,9999,99,4,93,...,2,2,3,3,2,2,2956.505499,40005,1,0
130,69312243,10/09/2018,1,99,99,18,9999,99,2,93,...,2,2,2,2,2,2,246.091832,40013,2,1
131,85712243,10/09/2018,1,99,99,39,9999,99,1,30,...,2,2,2,2,2,2,5818.746532,40038,2,0
134,85042243,10/09/2018,1,99,99,9,9999,99,1,30,...,2,2,2,3,2,2,2785.970921,40014,2,0
135,61252243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4344.299059,40049,2,0
138,19072243,10/09/2018,1,99,99,13,9999,99,1,30,...,2,2,2,2,2,2,8298.530047,40006,1,0
140,77893243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,13481.748153,40030,1,0
142,89213243,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,1,1,2,2,672.878342,40016,1,0
146,17553243,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,252.500882,40035,1,0
150,85373243,10/09/2018,1,99,99,9,9999,99,2,93,...,2,2,2,2,2,2,325.752783,40047,1,0
151,23573243,10/09/2018,1,99,99,14,9999,99,1,30,...,2,2,1,1,2,2,21929.399406,40008,2,0
153,11724243,10/09/2018,1,99,99,18,9999,99,1,30,...,2,2,2,2,2,2,3028.971656,40040,2,0
165,25017343,10/09/2018,1,99,99,16,9999,99,2,93,...,1,2,2,2,2,2,15331.959898,40049,2,0
169,72077343,10/09/2018,1,99,99,16,9999,99,2,93,...,2,2,2,2,2,2,21738.157348,40018,2,1
171,23598343,10/09/2018,1,99,99,12,9999,99,4,93,...,2,2,2,3,2,2,1862.290714,40049,2,1
173,74208343,10/09/2018,1,99,99,18,2017,1,1,12,...,2,2,2,2,2,2,6028.708478,40047,1,0
180,67569343,10/09/2018,1,99,99,10,9999,99,4,93,...,2,2,1,1,2,2,6711.768662,40035,1,0
182,61789343,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,1714.190691,40011,2,0
183,49989343,10/09/2018,2,99,99,991,9991,91,91,91,...,2,1,1,1,2,2,5545.529970,40047,1,0
188,47460343,10/09/2018,1,99,99,16,9999,99,4,93,...,2,2,3,3,2,2,14331.537205,40010,1,0
193,66651343,10/09/2018,1,99,99,15,9999,99,3,93,...,2,1,1,1,2,2,7845.901339,40019,1,0
200,59922343,10/09/2018,1,99,99,16,9999,99,4,93,...,2,2,3,3,2,2,7760.392972,40023,2,1
204,67882343,10/09/2018,1,99,99,18,9999,99,2,93,...,2,2,1,1,2,2,6497.183167,40029,2,1
213,45983343,10/09/2018,1,99,99,14,9985,85,1,13,...,2,2,2,1,2,2,4658.626341,40046,1,1
217,59425443,10/09/2018,1,99,99,18,9999,99,4,93,...,1,2,3,3,2,2,14668.157726,40040,2,0
218,99755443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,657.799494,40007,2,0
219,88855443,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,1,1,2,2,2214.415385,40019,2,1
223,57385443,10/09/2018,1,99,99,10,9999,99,1,8,...,2,2,1,1,2,2,2907.840872,40042,2,1
227,92836443,10/09/2018,1,99,99,9,9999,99,1,30,...,2,2,2,2,2,2,3252.438743,40045,1,0
233,21266443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,460.622657,40043,2,0
239,58847443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,3,1,2,2,2001.708665,40014,2,0
245,80077443,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,2,2,2,2,2347.930631,40047,1,0
246,64008443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,2233.256216,40050,2,0
248,37848443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,10541.896907,40015,2,0
252,15288443,10/09/2018,1,99,99,15,9999,99,1,14,...,2,2,2,2,2,2,5461.626438,40030,1,0
253,91688443,10/09/2018,1,99,99,12,9999,99,1,30,...,98,98,2,2,2,2,4039.601381,40025,1,1
255,43299443,10/09/2018,1,99,99,18,9999,99,1,4,...,2,2,1,1,2,2,6606.145476,40026,2,0
256,27899443,10/09/2018,1,99,99,16,9999,99,1,30,...,2,2,3,3,2,2,4963.048281,40025,2,0
264,56410443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,645.974148,40041,1,0
265,74610443,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,5371.858900,40046,2,1
267,44420443,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,2525.491423,40030,2,0
274,38970443,10/09/2018,1,99,99,20,9999,99,1,30,...,2,2,1,1,2,2,3334.651310,40036,2,0
280,67161443,10/09/2018,1,99,99,13,9999,99,1,30,...,2,2,1,1,2,2,3198.978640,40008,2,0
281,70481443,10/09/2018,1,99,99,11,9999,99,1,30,...,2,2,2,2,2,2,734.097486,40016,1,1
282,69581443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,1076.235034,40029,2,0
283,97781443,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,2,2,2,1705.644633,40002,2,0
287,68582443,10/09/2018,1,99,99,13,9999,99,4,93,...,2,2,2,2,2,2,15117.213318,40011,1,0
288,49293443,10/09/2018,2,3,3,991,9991,91,91,91,...,2,2,2,2,2,2,889.659930,40050,2,0
292,27153443,10/09/2018,1,99,99,15,9999,99,4,93,...,2,2,1,1,2,2,8001.694654,40002,1,0
295,73504443,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,3427.290503,40030,2,0
296,69904443,10/09/2018,1,99,99,12,9999,99,3,93,...,1,2,1,1,2,2,8431.392757,40005,1,0
304,37484443,10/09/2018,1,99,99,15,9999,99,2,93,...,2,2,3,3,2,2,2086.268708,40002,1,1
314,13486543,10/09/2018,1,99,99,16,9999,99,4,93,...,2,2,1,1,2,2,9329.403442,40007,2,0
316,50117543,10/09/2018,1,99,99,16,2017,9,1,3,...,2,2,2,2,2,2,181.358760,40004,2,0
318,23437543,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,1726.655070,40012,2,0
324,45187543,10/09/2018,2,99,99,991,9991,91,91,91,...,2,1,3,3,2,2,1920.107622,40037,2,1
333,77888543,10/09/2018,1,99,99,17,9999,99,4,93,...,2,2,1,1,2,2,5574.664764,40045,2,0
345,55401543,10/09/2018,1,99,99,18,9999,99,1,30,...,2,2,2,2,2,2,5301.549959,40012,1,0
347,73551543,10/09/2018,1,99,99,19,9999,99,4,93,...,2,2,1,1,2,2,16774.508055,40006,2,0
349,60661543,10/09/2018,1,99,99,16,9999,99,1,30,...,2,2,2,2,2,2,888.841434,40031,1,0
352,37771543,10/09/2018,1,99,99,19,9999,99,2,93,...,2,2,2,3,2,2,1001.991120,40028,2,0
353,49712543,10/09/2018,1,99,99,18,9999,99,4,93,...,2,2,1,1,2,2,9792.414813,40031,1,0
354,15112543,10/09/2018,1,99,99,12,9999,99,1,30,...,2,2,1,1,2,2,5690.558360,40016,1,0
357,57242543,10/09/2018,1,99,99,18,2016,6,1,4,...,2,2,2,1,2,2,509.559923,40037,1,0
358,67293543,10/09/2018,2,4,3,991,9991,91,91,91,...,2,2,1,1,2,2,1159.087848,40033,2,0
362,44113543,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,491.211887,40005,2,0
365,27573543,10/09/2018,1,99,99,12,9999,99,4,93,...,2,2,1,1,2,2,10882.656038,40037,1,0
370,89464543,10/09/2018,1,99,99,13,9999,99,1,30,...,2,2,1,1,2,2,3304.891119,40025,1,0
374,57125643,10/09/2018,1,99,99,16,9999,99,1,30,...,2,2,2,2,2,2,760.174125,40031,1,1
375,83475643,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,4326.755868,40030,2,0
376,85896643,10/09/2018,1,99,99,14,9989,89,2,93,...,1,2,3,3,2,2,2762.908100,40026,1,1
378,41816643,10/09/2018,2,99,99,991,9991,91,91,91,...,1,2,2,2,2,2,35236.724947,40009,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55911,26418330,10/09/2018,1,99,99,25,9999,99,3,93,...,2,2,1,1,2,2,600.713384,40005,1,0
55912,53718330,10/09/2018,2,99,99,991,9991,91,91,91,...,2,1,2,2,2,2,174.301949,40010,2,0
55913,79258330,10/09/2018,1,99,99,9,9999,99,3,93,...,2,2,2,2,2,2,1854.638231,40034,1,0
55920,45989330,10/09/2018,1,99,99,11,9999,99,1,30,...,1,1,2,3,2,2,457.491033,40044,1,1
55921,79390330,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,23681.712799,40039,2,0
55923,51190330,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,3,3,2,2,2903.365823,40008,1,0
55926,72800330,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,6411.058991,40043,1,0
55931,89050330,10/09/2018,1,99,99,20,9999,99,3,93,...,2,2,2,2,2,2,2375.290146,40043,1,0
55935,81280330,10/09/2018,1,99,99,17,9999,99,4,93,...,2,2,1,1,2,2,9378.461971,40001,2,0
55937,37011330,10/09/2018,1,99,99,17,9999,99,3,93,...,2,2,2,3,2,2,4390.885779,40025,2,0
55942,73551330,10/09/2018,1,99,99,11,9999,99,1,30,...,1,1,1,1,2,2,912.588702,40035,1,1
55945,26061330,10/09/2018,1,99,99,21,9999,99,4,93,...,2,2,1,1,2,2,3609.037292,40035,2,0
55946,15161330,10/09/2018,1,99,99,17,9999,99,4,93,...,2,2,2,2,2,2,235.524071,40037,2,0
55947,21702330,10/09/2018,1,99,99,13,9999,99,4,93,...,2,2,2,2,2,2,1132.374818,40038,1,1
55957,83783330,10/09/2018,1,99,99,10,9999,99,1,30,...,2,2,2,2,2,2,699.013374,40013,1,0
55958,17194330,10/09/2018,2,99,99,991,9991,91,91,91,...,2,1,1,1,2,2,21347.137179,40015,1,0
55960,82024330,10/09/2018,2,4,3,991,9991,91,91,91,...,1,2,1,1,2,2,261.853270,40017,2,1
55961,16144330,10/09/2018,1,99,99,14,9999,99,1,30,...,2,2,1,1,2,2,6694.950417,40002,2,1
55968,31345430,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,15723.747539,40035,1,0
55969,89545430,10/09/2018,1,99,99,8,9999,99,1,30,...,2,2,1,1,2,2,10654.088921,40048,1,0
55971,73575430,10/09/2018,1,99,99,16,9999,99,1,30,...,2,2,2,3,2,2,20095.669506,40015,1,0
55972,37175430,10/09/2018,1,99,99,16,9999,99,1,10,...,1,2,1,1,2,2,6771.069055,40016,1,1
55973,64806430,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,2,2,2,2,1333.354068,40018,2,1
55974,11106430,10/09/2018,1,99,99,12,9999,99,1,24,...,2,2,1,1,2,2,4508.751923,40041,1,0
55977,79926430,10/09/2018,1,99,99,13,9999,99,1,14,...,2,2,2,2,2,2,7189.695723,40025,2,0
55981,53097430,10/09/2018,1,99,99,9,9999,99,4,93,...,2,2,2,2,2,2,4388.118360,40005,2,0
55988,75648430,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,3,2,2,853.590757,40016,1,0
55991,15078430,10/09/2018,1,99,99,17,9999,99,1,30,...,1,2,1,1,2,2,5150.690475,40010,2,0
55993,89299430,10/09/2018,1,99,99,14,9999,99,3,93,...,2,2,2,2,2,2,2794.638483,40027,2,0
55999,99900430,10/09/2018,1,99,99,15,9999,99,2,93,...,2,2,1,1,2,2,11871.508606,40050,2,0
56001,79710430,10/09/2018,1,99,99,14,9999,99,4,93,...,2,2,2,2,2,2,750.026702,40013,1,0
56002,63640430,10/09/2018,1,99,99,14,9999,99,4,93,...,2,2,1,1,2,2,20770.537305,40009,2,0
56005,25680430,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,31188.099344,40002,1,0
56007,73211430,10/09/2018,1,99,99,14,9999,99,1,10,...,2,2,2,3,2,2,2042.735988,40024,1,0
56010,27761430,10/09/2018,1,99,99,13,9999,99,1,30,...,2,2,2,3,2,2,3554.966205,40001,1,0
56012,93592430,10/09/2018,1,99,99,10,9999,99,1,30,...,2,2,1,1,2,2,2607.927291,40044,2,0
56014,40222430,10/09/2018,1,99,99,16,2016,5,1,1,...,2,2,2,2,2,2,153.360783,40006,2,0
56015,74632430,10/09/2018,1,99,99,27,9999,99,4,93,...,2,2,2,3,2,2,3257.763530,40014,2,1
56018,11403430,10/09/2018,1,99,99,15,9999,99,3,93,...,2,2,2,3,2,2,670.055400,40003,1,1
56022,87753430,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,5043.695336,40026,1,0
56024,14814430,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,2,2,2,1052.924848,40008,2,0
56028,36564430,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,1068.193349,40047,2,0
56032,55745530,10/09/2018,1,99,99,17,9999,99,1,30,...,2,2,2,2,2,2,7835.792387,40017,2,0
56034,15365530,10/09/2018,1,99,99,11,9999,99,2,93,...,2,2,2,2,2,2,921.903400,40001,2,1
56035,97785530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,3,2,2,11331.332514,40031,2,0
56037,85506530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4416.351449,40038,2,0
56038,44416530,10/09/2018,1,99,99,17,9999,99,4,93,...,2,2,1,1,2,2,968.974859,40035,1,1
56039,17116530,10/09/2018,1,99,99,15,9999,99,3,93,...,2,2,2,2,2,2,204.338152,40040,1,0
56049,27017530,10/09/2018,1,99,99,19,9999,99,4,93,...,2,2,1,1,2,2,1157.295666,40045,2,0
56055,65598530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,5941.488844,40049,2,0
56058,26018530,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,2,2,2,2074.621063,40031,1,0
56061,51848530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4061.329607,40030,1,0
56062,30758530,10/09/2018,1,99,99,12,9999,99,1,30,...,2,2,1,1,2,2,3393.484707,40016,1,0
56072,17190530,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,2674.021969,40046,2,0
56075,94630530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,16347.785494,40040,2,0
56078,31070530,10/09/2018,1,99,99,16,9999,99,1,26,...,1,2,3,3,2,2,7342.591445,40004,2,1
56079,57280530,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,1400.489148,40035,2,1
56088,25192530,10/09/2018,1,99,99,16,9999,99,1,8,...,1,1,2,2,2,2,5613.232994,40043,1,0
56089,77322530,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,1,1,2,2,5862.773180,40033,1,0
56090,95522530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,5555.633821,40042,2,0
56101,44663530,10/09/2018,2,3,3,991,9991,91,91,91,...,2,2,1,1,2,2,1960.879873,40043,2,0
56103,73383530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,3475.097352,40049,2,0
56106,38404530,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,4205.879851,40017,2,0
56109,96744530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,1,2,2,2274.146588,40007,2,0
56111,37454530,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4460.726636,40035,1,0
56112,96554530,10/09/2018,1,99,99,18,2016,3,2,93,...,2,2,2,2,2,2,7012.764586,40045,1,0
56124,97865630,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,2,2,2,5192.196488,40036,1,0
56141,23117630,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,3,3,2,2,15239.516849,40033,1,0
56147,89748630,10/09/2018,1,99,99,19,9999,99,1,30,...,2,2,2,2,2,2,13329.799099,40019,1,0
56153,87378630,10/09/2018,1,99,99,13,9999,99,4,93,...,2,2,2,2,2,2,1118.879988,40047,2,1
56155,64299630,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,2,2,2,2051.335476,40022,1,0
56156,71599630,10/09/2018,1,99,99,15,9999,99,1,30,...,2,2,2,2,2,2,1227.438398,40041,1,0
56159,31929630,10/09/2018,2,99,99,991,9991,91,91,91,...,1,1,3,3,2,2,9978.007395,40032,1,0
56167,37550630,10/09/2018,1,99,99,18,9999,99,1,30,...,2,2,2,3,2,2,3419.531567,40044,1,0
56177,39012630,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,1672.584870,40022,1,0
56184,93182630,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4764.329522,40002,2,0
56190,16783630,10/09/2018,1,99,99,18,9999,99,4,93,...,2,2,1,1,2,2,8621.078343,40029,1,0
56196,63925730,10/09/2018,1,99,99,20,9999,99,4,93,...,2,1,2,2,2,2,4067.924910,40010,1,1
56199,94775730,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,2342.571652,40048,2,0
56204,97426730,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,2,3,2,2,1267.869200,40033,2,0
56205,46286730,10/09/2018,1,99,99,13,9999,99,1,30,...,2,2,2,3,2,2,718.287066,40038,2,1
56211,97467730,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,3,3,2,2,349.471152,40026,2,0
56212,91687730,10/09/2018,1,99,99,13,9999,99,3,93,...,2,2,2,2,2,2,2430.499821,40019,1,0
56217,45948730,10/09/2018,1,99,99,12,9999,99,4,93,...,2,2,2,2,2,2,1234.599073,40031,1,0
56219,12058730,10/09/2018,1,99,99,14,9999,99,1,2,...,2,2,1,1,2,2,5395.072644,40010,2,0
56222,29788730,10/09/2018,2,99,99,991,9991,91,91,91,...,2,2,1,1,2,2,4573.545052,40049,2,0
56225,46419730,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,1,2,2,149.540303,40021,2,0
56226,87129730,10/09/2018,1,99,99,14,9999,99,1,30,...,2,2,2,2,2,2,3562.542576,40031,2,0
56228,71539730,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,3,2,2,1484.373856,40044,2,0
56231,75469730,10/09/2018,1,99,99,15,9999,99,1,2,...,2,2,1,1,2,2,6096.026983,40038,2,1
56241,76880730,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,2,2,2,282.113631,40036,2,0
56251,55212730,10/09/2018,1,99,99,12,9999,99,1,18,...,2,2,2,2,2,2,543.975822,40002,1,1
56254,61942730,10/09/2018,1,99,99,13,9999,99,1,30,...,2,2,2,3,2,2,604.293621,40007,2,0
56257,91562730,10/09/2018,1,99,99,10,9999,99,4,93,...,2,2,2,3,2,2,5782.778810,40039,2,0
56258,57962730,10/09/2018,1,99,99,19,9999,99,4,93,...,2,2,2,2,2,2,34466.143274,40002,1,0
56260,28672730,10/09/2018,1,99,99,19,9999,99,1,4,...,2,2,1,1,2,2,7138.187853,40005,1,0
56264,97243730,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,1,1,2,2,3465.475608,40009,2,0
56265,65253730,10/09/2018,1,99,99,16,9999,99,1,30,...,2,2,2,2,2,2,20566.552366,40009,2,0
56268,93073730,10/09/2018,1,99,99,15,9999,99,2,93,...,2,2,1,1,2,2,854.431770,40014,2,0
56273,44444730,10/09/2018,2,4,4,991,9991,91,91,91,...,2,2,2,2,2,2,1475.398422,40046,2,0

In [0]:
#Determine classification imbalance
print('COUNT of MISUSE')
print(dfUsePainMeds.groupby(['MISUSE'])['MISUSE'].count())
print('\nPERCENT MISUSE')
print(sum(dfUsePainMeds.MISUSE) / len(dfUsePainMeds))

COUNT of MISUSE
MISUSE
0    14065
1     2703
Name: MISUSE, dtype: int64

PERCENT MISUSE
0.16119990458015268

16% is imbalanced but not horribly so, and the N sizes seem sufficient to make predictions.

## 2.2 Find and Remove Coluns with No Variation

Next we'll look for any columns that contain entirely the same set of data.  We'll first record them, and then we'll remove them.

In [0]:
#First get the column names before their removal
colsBefore = dfUsePainMeds.columns

#Remove columns with no variation
dfUsePainMeds = dfUsePainMeds.loc[:, (dfUsePainMeds != dfUsePainMeds.iloc[0]).any()]

#Then get remaining columns
colsAfter = dfUsePainMeds.columns

#Finally, take the difference to reveal which columns were removed
colsDiff = colsBefore.difference(colsAfter)

In [0]:
print('REMOVED COLUMNS:')
print(colsDiff)

REMOVED COLUMNS:
Index(['FILEDATE', 'IIPNRANYREC', 'IRPNRANYREC', 'PNRANYFLAG', 'PNRANYLIF',
       'PNRANYREC', 'PNRANYYR', 'PSYANYFLAG', 'PSYANYYR'],
      dtype='object')

## 2.3 Find and Remove Perfect Predictors

The trick here is to look through all the columns, and ensure that at least one value is in both classes of our dependent variable.

_Note, we must be sure not to remove the actual dependent variable, `MISUSE`, since it too will fit this description._

Here's how we'll tackle this problem.  We'll group counts by each variable and also by `MISUSE`. If the length of this groupby object is the same as the length of a groupby object with only the variable and not `MISUSE`, then we know there's no predictive information.  An illustration might be helpful.  First, let's look at the counts of records grouped by `HEALTH` and `MISUSE`.

In [0]:
variable = 'HEALTH'
print(dfUsePainMeds.groupby([variable, 'MISUSE'])[variable].count())

HEALTH  MISUSE
1       0         2577
        1          400
2       0         5080
        1         1001
3       0         4191
        1          881
4       0         1765
        1          353
5       0          447
        1           67
94      0            5
97      1            1
Name: HEALTH, dtype: int64

Here we see there are lots of records in multiple `HEALTH` responses for each of our two `MISUSE` classifications (0 and 1).

Now let's look at another example ...

In [0]:
#Example with no variation
variable = 'PNRNMREC'
print(dfUsePainMeds.groupby([variable, 'MISUSE'])[variable].count())

PNRNMREC  MISUSE
1         1           777
2         1          1906
3         0          1409
8         1            20
9         0            27
11        0             1
83        0           134
91        0         12473
98        0            21
Name: PNRNMREC, dtype: int64

Here we see with the `PNRNMREC` variable there are no responses that are in both categories of `MISUSE`.  But what we really want to notice is that the length of this variable _is the same regardless of whether it is grouped by `MISUSE`_.  So in these cases, when their length is the same, we can remove this variable since it will be a perfect predictor.

In [0]:
#Create empty list
colsToRemove = []

#Cycle through all columns, compare lengths, add to list if same length
# for i, col in enumerate(dfUsePainMeds.columns):
#     print(i, 'COLUMN NAME:', col)
#     if len(dfUsePainMeds.groupby([col, 'MISUSE'])) == len(dfUsePainMeds.groupby([col])):
#         print('FOUND ONE!')
#         colsToRemove.append(col)
'''Commented this out because it takes a long time (~1 hr) to run.
Horribly inefficient code...must be a better way. But it was a 1 time task and it's done.
See results below:
'''
        
colsToRemove = ['QUESTID2', 'PNRNMREC', 'PNRNM30D', 'MISUSE']

#Remove the `MISUSE` category from the list, which will always be the final category
colsToRemove = colsToRemove[:-1]

print('COLUMNS TO REMOVE:')
print(colsToRemove)

#Remove the columns
dfUsePainMeds = dfUsePainMeds.drop(colsToRemove, axis=1)

COLUMNS TO REMOVE:
['QUESTID2', 'PNRNMREC', 'PNRNM30D']

Unfortunately looking for perfect multicolinearity with our `MISUSE` outcome variable only resulted in the removal of 3 columns.

# Ideas

* Remove columns that are "downstream" from MISUSE (e.g., have you ever misused oxycontin) and would therefore perfectly predict the dependent variable.
* Need to recode the variables, potentially one-hot encode those that need it ... need a good way to determine this
* We could look for class balance of < 90%, to eliminate the near-perfect predictors.
* Need to whittle down to a few variables that we can ask on a questionnaire
* Rather than a top-down approach, perhaps we use a bottom-up approach, and build a model that uses only a handful of variables, just so we can get something built end-to-end.  Once complete, or in parallel, we could then improve our features and continuously feed them into new versions of the model.

# Doodling

In [0]:
variable = 'HEALTH'
print(dfUsePainMeds.groupby([variable])[variable].count())

HEALTH
1     2977
2     6081
3     5072
4     2118
5      514
94       5
97       1
Name: HEALTH, dtype: int64

In [0]:
dfUsePainMeds

,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,CIG30AV,...,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,MISUSE
19,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,54.413648,40017,1,0
20,1,99,99,12,9999,99,1,30,99,4,...,2,2,2,2,2,2,3481.596088,40013,2,0
21,1,99,99,17,9999,99,4,93,93,93,...,2,2,2,2,2,2,1022.448042,40042,2,0
23,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,628.886384,40016,2,0
33,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,839.107735,40039,1,0
34,1,99,99,18,9999,99,2,93,93,93,...,2,2,2,2,2,2,1400.781545,40017,2,1
36,1,99,99,18,9999,99,4,93,93,93,...,1,1,2,3,2,2,1144.049469,40044,1,0
46,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,3090.284207,40006,2,1
50,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,4215.062783,40040,2,0
52,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4121.742730,40043,1,0
54,1,99,99,10,9999,99,1,22,99,3,...,1,2,2,2,2,2,22535.214038,40011,2,0
58,1,99,99,21,2016,6,3,93,93,93,...,2,2,1,1,2,2,2049.174765,40046,2,0
66,1,99,99,12,9999,99,1,30,99,5,...,2,2,3,3,2,2,355.211280,40048,2,0
76,1,99,99,15,9999,99,1,7,99,4,...,2,2,2,1,2,2,6765.556717,40033,1,0
78,1,99,99,16,9999,99,1,22,99,3,...,2,1,3,3,2,2,4842.478949,40017,1,0
81,2,4,3,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,2068.241172,40011,1,0
85,1,99,99,10,9999,99,4,93,93,93,...,2,2,1,1,2,2,15556.281750,40020,1,1
90,2,99,99,991,9991,91,91,91,91,91,...,2,1,2,3,2,2,2873.870904,40039,2,0
96,1,99,99,16,9999,99,1,20,99,3,...,2,2,2,2,2,2,602.113983,40027,1,0
97,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4134.437053,40050,1,0
103,1,99,99,13,9999,99,1,15,99,2,...,1,2,2,2,2,2,3344.004166,40037,2,0
104,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,6625.182854,40021,1,0
108,1,99,99,20,9999,99,1,30,99,4,...,2,2,2,2,2,2,5723.715382,40037,2,1
114,2,99,99,991,9991,91,91,91,91,91,...,1,2,1,1,2,2,8936.036536,40034,1,0
115,2,4,3,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,3257.610863,40025,1,0
117,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,5018.505421,40049,2,0
123,1,99,99,13,9999,99,1,30,99,3,...,1,2,1,1,2,2,4970.425738,40050,2,0
124,1,99,99,19,9999,99,3,93,93,93,...,2,2,2,2,2,2,2865.417599,40001,1,0
126,1,99,99,14,9999,99,4,93,93,93,...,2,2,3,3,2,2,2956.505499,40005,1,0
130,1,99,99,18,9999,99,2,93,93,93,...,2,2,2,2,2,2,246.091832,40013,2,1
131,1,99,99,39,9999,99,1,30,99,5,...,2,2,2,2,2,2,5818.746532,40038,2,0
134,1,99,99,9,9999,99,1,30,99,6,...,2,2,2,3,2,2,2785.970921,40014,2,0
135,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4344.299059,40049,2,0
138,1,99,99,13,9999,99,1,30,99,5,...,2,2,2,2,2,2,8298.530047,40006,1,0
140,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,13481.748153,40030,1,0
142,1,99,99,15,9999,99,1,30,99,4,...,2,2,1,1,2,2,672.878342,40016,1,0
146,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,252.500882,40035,1,0
150,1,99,99,9,9999,99,2,93,93,93,...,2,2,2,2,2,2,325.752783,40047,1,0
151,1,99,99,14,9999,99,1,30,99,6,...,2,2,1,1,2,2,21929.399406,40008,2,0
153,1,99,99,18,9999,99,1,30,99,5,...,2,2,2,2,2,2,3028.971656,40040,2,0
165,1,99,99,16,9999,99,2,93,93,93,...,1,2,2,2,2,2,15331.959898,40049,2,0
169,1,99,99,16,9999,99,2,93,93,93,...,2,2,2,2,2,2,21738.157348,40018,2,1
171,1,99,99,12,9999,99,4,93,93,93,...,2,2,2,3,2,2,1862.290714,40049,2,1
173,1,99,99,18,2017,1,1,12,99,1,...,2,2,2,2,2,2,6028.708478,40047,1,0
180,1,99,99,10,9999,99,4,93,93,93,...,2,2,1,1,2,2,6711.768662,40035,1,0
182,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,1714.190691,40011,2,0
183,2,99,99,991,9991,91,91,91,91,91,...,2,1,1,1,2,2,5545.529970,40047,1,0
188,1,99,99,16,9999,99,4,93,93,93,...,2,2,3,3,2,2,14331.537205,40010,1,0
193,1,99,99,15,9999,99,3,93,93,93,...,2,1,1,1,2,2,7845.901339,40019,1,0
200,1,99,99,16,9999,99,4,93,93,93,...,2,2,3,3,2,2,7760.392972,40023,2,1
204,1,99,99,18,9999,99,2,93,93,93,...,2,2,1,1,2,2,6497.183167,40029,2,1
213,1,99,99,14,9985,85,1,13,99,2,...,2,2,2,1,2,2,4658.626341,40046,1,1
217,1,99,99,18,9999,99,4,93,93,93,...,1,2,3,3,2,2,14668.157726,40040,2,0
218,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,657.799494,40007,2,0
219,1,99,99,15,9999,99,1,30,99,4,...,2,2,1,1,2,2,2214.415385,40019,2,1
223,1,99,99,10,9999,99,1,8,99,2,...,2,2,1,1,2,2,2907.840872,40042,2,1
227,1,99,99,9,9999,99,1,30,99,4,...,2,2,2,2,2,2,3252.438743,40045,1,0
233,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,460.622657,40043,2,0
239,2,99,99,991,9991,91,91,91,91,91,...,2,2,3,1,2,2,2001.708665,40014,2,0
245,1,99,99,15,9999,99,1,30,99,3,...,2,2,2,2,2,2,2347.930631,40047,1,0
246,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,2233.256216,40050,2,0
248,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,10541.896907,40015,2,0
252,1,99,99,15,9999,99,1,14,99,3,...,2,2,2,2,2,2,5461.626438,40030,1,0
253,1,99,99,12,9999,99,1,30,99,5,...,98,98,2,2,2,2,4039.601381,40025,1,1
255,1,99,99,18,9999,99,1,4,99,2,...,2,2,1,1,2,2,6606.145476,40026,2,0
256,1,99,99,16,9999,99,1,30,99,1,...,2,2,3,3,2,2,4963.048281,40025,2,0
264,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,645.974148,40041,1,0
265,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,5371.858900,40046,2,1
267,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,2525.491423,40030,2,0
274,1,99,99,20,9999,99,1,30,99,4,...,2,2,1,1,2,2,3334.651310,40036,2,0
280,1,99,99,13,9999,99,1,30,99,3,...,2,2,1,1,2,2,3198.978640,40008,2,0
281,1,99,99,11,9999,99,1,30,99,5,...,2,2,2,2,2,2,734.097486,40016,1,1
282,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,1076.235034,40029,2,0
283,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,1705.644633,40002,2,0
287,1,99,99,13,9999,99,4,93,93,93,...,2,2,2,2,2,2,15117.213318,40011,1,0
288,2,3,3,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,889.659930,40050,2,0
292,1,99,99,15,9999,99,4,93,93,93,...,2,2,1,1,2,2,8001.694654,40002,1,0
295,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,3427.290503,40030,2,0
296,1,99,99,12,9999,99,3,93,93,93,...,1,2,1,1,2,2,8431.392757,40005,1,0
304,1,99,99,15,9999,99,2,93,93,93,...,2,2,3,3,2,2,2086.268708,40002,1,1
314,1,99,99,16,9999,99,4,93,93,93,...,2,2,1,1,2,2,9329.403442,40007,2,0
316,1,99,99,16,2017,9,1,3,99,3,...,2,2,2,2,2,2,181.358760,40004,2,0
318,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,1726.655070,40012,2,0
324,2,99,99,991,9991,91,91,91,91,91,...,2,1,3,3,2,2,1920.107622,40037,2,1
333,1,99,99,17,9999,99,4,93,93,93,...,2,2,1,1,2,2,5574.664764,40045,2,0
345,1,99,99,18,9999,99,1,30,99,4,...,2,2,2,2,2,2,5301.549959,40012,1,0
347,1,99,99,19,9999,99,4,93,93,93,...,2,2,1,1,2,2,16774.508055,40006,2,0
349,1,99,99,16,9999,99,1,30,99,3,...,2,2,2,2,2,2,888.841434,40031,1,0
352,1,99,99,19,9999,99,2,93,93,93,...,2,2,2,3,2,2,1001.991120,40028,2,0
353,1,99,99,18,9999,99,4,93,93,93,...,2,2,1,1,2,2,9792.414813,40031,1,0
354,1,99,99,12,9999,99,1,30,99,3,...,2,2,1,1,2,2,5690.558360,40016,1,0
357,1,99,99,18,2016,6,1,4,99,2,...,2,2,2,1,2,2,509.559923,40037,1,0
358,2,4,3,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,1159.087848,40033,2,0
362,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,491.211887,40005,2,0
365,1,99,99,12,9999,99,4,93,93,93,...,2,2,1,1,2,2,10882.656038,40037,1,0
370,1,99,99,13,9999,99,1,30,99,5,...,2,2,1,1,2,2,3304.891119,40025,1,0
374,1,99,99,16,9999,99,1,30,99,4,...,2,2,2,2,2,2,760.174125,40031,1,1
375,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,4326.755868,40030,2,0
376,1,99,99,14,9989,89,2,93,93,93,...,1,2,3,3,2,2,2762.908100,40026,1,1
378,2,99,99,991,9991,91,91,91,91,91,...,1,2,2,2,2,2,35236.724947,40009,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55911,1,99,99,25,9999,99,3,93,93,93,...,2,2,1,1,2,2,600.713384,40005,1,0
55912,2,99,99,991,9991,91,91,91,91,91,...,2,1,2,2,2,2,174.301949,40010,2,0
55913,1,99,99,9,9999,99,3,93,93,93,...,2,2,2,2,2,2,1854.638231,40034,1,0
55920,1,99,99,11,9999,99,1,30,99,6,...,1,1,2,3,2,2,457.491033,40044,1,1
55921,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,23681.712799,40039,2,0
55923,1,99,99,15,9999,99,1,30,99,4,...,2,2,3,3,2,2,2903.365823,40008,1,0
55926,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,6411.058991,40043,1,0
55931,1,99,99,20,9999,99,3,93,93,93,...,2,2,2,2,2,2,2375.290146,40043,1,0
55935,1,99,99,17,9999,99,4,93,93,93,...,2,2,1,1,2,2,9378.461971,40001,2,0
55937,1,99,99,17,9999,99,3,93,93,93,...,2,2,2,3,2,2,4390.885779,40025,2,0
55942,1,99,99,11,9999,99,1,30,99,6,...,1,1,1,1,2,2,912.588702,40035,1,1
55945,1,99,99,21,9999,99,4,93,93,93,...,2,2,1,1,2,2,3609.037292,40035,2,0
55946,1,99,99,17,9999,99,4,93,93,93,...,2,2,2,2,2,2,235.524071,40037,2,0
55947,1,99,99,13,9999,99,4,93,93,93,...,2,2,2,2,2,2,1132.374818,40038,1,1
55957,1,99,99,10,9999,99,1,30,99,4,...,2,2,2,2,2,2,699.013374,40013,1,0
55958,2,99,99,991,9991,91,91,91,91,91,...,2,1,1,1,2,2,21347.137179,40015,1,0
55960,2,4,3,991,9991,91,91,91,91,91,...,1,2,1,1,2,2,261.853270,40017,2,1
55961,1,99,99,14,9999,99,1,30,99,3,...,2,2,1,1,2,2,6694.950417,40002,2,1
55968,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,15723.747539,40035,1,0
55969,1,99,99,8,9999,99,1,30,99,5,...,2,2,1,1,2,2,10654.088921,40048,1,0
55971,1,99,99,16,9999,99,1,30,99,5,...,2,2,2,3,2,2,20095.669506,40015,1,0
55972,1,99,99,16,9999,99,1,10,99,4,...,1,2,1,1,2,2,6771.069055,40016,1,1
55973,1,99,99,15,9999,99,1,30,99,4,...,2,2,2,2,2,2,1333.354068,40018,2,1
55974,1,99,99,12,9999,99,1,24,99,7,...,2,2,1,1,2,2,4508.751923,40041,1,0
55977,1,99,99,13,9999,99,1,14,99,3,...,2,2,2,2,2,2,7189.695723,40025,2,0
55981,1,99,99,9,9999,99,4,93,93,93,...,2,2,2,2,2,2,4388.118360,40005,2,0
55988,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,3,2,2,853.590757,40016,1,0
55991,1,99,99,17,9999,99,1,30,99,6,...,1,2,1,1,2,2,5150.690475,40010,2,0
55993,1,99,99,14,9999,99,3,93,93,93,...,2,2,2,2,2,2,2794.638483,40027,2,0
55999,1,99,99,15,9999,99,2,93,93,93,...,2,2,1,1,2,2,11871.508606,40050,2,0
56001,1,99,99,14,9999,99,4,93,93,93,...,2,2,2,2,2,2,750.026702,40013,1,0
56002,1,99,99,14,9999,99,4,93,93,93,...,2,2,1,1,2,2,20770.537305,40009,2,0
56005,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,31188.099344,40002,1,0
56007,1,99,99,14,9999,99,1,10,99,3,...,2,2,2,3,2,2,2042.735988,40024,1,0
56010,1,99,99,13,9999,99,1,30,99,3,...,2,2,2,3,2,2,3554.966205,40001,1,0
56012,1,99,99,10,9999,99,1,30,99,6,...,2,2,1,1,2,2,2607.927291,40044,2,0
56014,1,99,99,16,2016,5,1,1,99,2,...,2,2,2,2,2,2,153.360783,40006,2,0
56015,1,99,99,27,9999,99,4,93,93,93,...,2,2,2,3,2,2,3257.763530,40014,2,1
56018,1,99,99,15,9999,99,3,93,93,93,...,2,2,2,3,2,2,670.055400,40003,1,1
56022,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,5043.695336,40026,1,0
56024,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,1052.924848,40008,2,0
56028,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,1068.193349,40047,2,0
56032,1,99,99,17,9999,99,1,30,99,4,...,2,2,2,2,2,2,7835.792387,40017,2,0
56034,1,99,99,11,9999,99,2,93,93,93,...,2,2,2,2,2,2,921.903400,40001,2,1
56035,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,3,2,2,11331.332514,40031,2,0
56037,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4416.351449,40038,2,0
56038,1,99,99,17,9999,99,4,93,93,93,...,2,2,1,1,2,2,968.974859,40035,1,1
56039,1,99,99,15,9999,99,3,93,93,93,...,2,2,2,2,2,2,204.338152,40040,1,0
56049,1,99,99,19,9999,99,4,93,93,93,...,2,2,1,1,2,2,1157.295666,40045,2,0
56055,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,5941.488844,40049,2,0
56058,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,2074.621063,40031,1,0
56061,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4061.329607,40030,1,0
56062,1,99,99,12,9999,99,1,30,99,5,...,2,2,1,1,2,2,3393.484707,40016,1,0
56072,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,2674.021969,40046,2,0
56075,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,16347.785494,40040,2,0
56078,1,99,99,16,9999,99,1,26,99,7,...,1,2,3,3,2,2,7342.591445,40004,2,1
56079,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,1400.489148,40035,2,1
56088,1,99,99,16,9999,99,1,8,99,4,...,1,1,2,2,2,2,5613.232994,40043,1,0
56089,1,99,99,15,9999,99,1,30,99,4,...,2,2,1,1,2,2,5862.773180,40033,1,0
56090,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,5555.633821,40042,2,0
56101,2,3,3,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,1960.879873,40043,2,0
56103,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,3475.097352,40049,2,0
56106,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4205.879851,40017,2,0
56109,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,1,2,2,2274.146588,40007,2,0
56111,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4460.726636,40035,1,0
56112,1,99,99,18,2016,3,2,93,93,93,...,2,2,2,2,2,2,7012.764586,40045,1,0
56124,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,5192.196488,40036,1,0
56141,2,99,99,991,9991,91,91,91,91,91,...,2,2,3,3,2,2,15239.516849,40033,1,0
56147,1,99,99,19,9999,99,1,30,99,5,...,2,2,2,2,2,2,13329.799099,40019,1,0
56153,1,99,99,13,9999,99,4,93,93,93,...,2,2,2,2,2,2,1118.879988,40047,2,1
56155,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,2051.335476,40022,1,0
56156,1,99,99,15,9999,99,1,30,99,4,...,2,2,2,2,2,2,1227.438398,40041,1,0
56159,2,99,99,991,9991,91,91,91,91,91,...,1,1,3,3,2,2,9978.007395,40032,1,0
56167,1,99,99,18,9999,99,1,30,99,5,...,2,2,2,3,2,2,3419.531567,40044,1,0
56177,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,1672.584870,40022,1,0
56184,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4764.329522,40002,2,0
56190,1,99,99,18,9999,99,4,93,93,93,...,2,2,1,1,2,2,8621.078343,40029,1,0
56196,1,99,99,20,9999,99,4,93,93,93,...,2,1,2,2,2,2,4067.924910,40010,1,1
56199,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,2342.571652,40048,2,0
56204,2,99,99,991,9991,91,91,91,91,91,...,2,2,2,3,2,2,1267.869200,40033,2,0
56205,1,99,99,13,9999,99,1,30,99,4,...,2,2,2,3,2,2,718.287066,40038,2,1
56211,2,4,4,991,9991,91,91,91,91,91,...,2,2,3,3,2,2,349.471152,40026,2,0
56212,1,99,99,13,9999,99,3,93,93,93,...,2,2,2,2,2,2,2430.499821,40019,1,0
56217,1,99,99,12,9999,99,4,93,93,93,...,2,2,2,2,2,2,1234.599073,40031,1,0
56219,1,99,99,14,9999,99,1,2,99,2,...,2,2,1,1,2,2,5395.072644,40010,2,0
56222,2,99,99,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,4573.545052,40049,2,0
56225,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,1,2,2,149.540303,40021,2,0
56226,1,99,99,14,9999,99,1,30,99,6,...,2,2,2,2,2,2,3562.542576,40031,2,0
56228,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,3,2,2,1484.373856,40044,2,0
56231,1,99,99,15,9999,99,1,2,99,1,...,2,2,1,1,2,2,6096.026983,40038,2,1
56241,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,282.113631,40036,2,0
56251,1,99,99,12,9999,99,1,18,99,2,...,2,2,2,2,2,2,543.975822,40002,1,1
56254,1,99,99,13,9999,99,1,30,99,5,...,2,2,2,3,2,2,604.293621,40007,2,0
56257,1,99,99,10,9999,99,4,93,93,93,...,2,2,2,3,2,2,5782.778810,40039,2,0
56258,1,99,99,19,9999,99,4,93,93,93,...,2,2,2,2,2,2,34466.143274,40002,1,0
56260,1,99,99,19,9999,99,1,4,99,3,...,2,2,1,1,2,2,7138.187853,40005,1,0
56264,2,4,4,991,9991,91,91,91,91,91,...,2,2,1,1,2,2,3465.475608,40009,2,0
56265,1,99,99,16,9999,99,1,30,99,4,...,2,2,2,2,2,2,20566.552366,40009,2,0
56268,1,99,99,15,9999,99,2,93,93,93,...,2,2,1,1,2,2,854.431770,40014,2,0
56273,2,4,4,991,9991,91,91,91,91,91,...,2,2,2,2,2,2,1475.398422,40046,2,0